@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';


:root {
    --background: #373d43;
    --foreground: #f5ffff;
    --sky-blue: #a0dade;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #373d43;
    --foreground: #f5ffff;
    --sky-blue: #a0dade;
  }
} */

body {
  background-color: #050801;
  font-family: var(--font-poppins), sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  color: #f5ffff;
}

.blue-container {
  width: 90%;
  margin: 0 auto;
  /* background-color: #050801; */
  /* color: #076585; */
  /* background: #f5ffff; */
}
